[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elastic-apm = {version = "~=6.7.2", extras = ["flask"]}
requests = "~=2.27.1"
PyYAML = "~=5.4"
Flask = "~=1.1.1"
Flask-Cors = "~=3.0.10"
uWSGI = "~=2.0.20"
werkzeug = "~=2.0.2"

[dev-packages]

[requires]
python_version = "3.10"
