<!DOCTYPE html>
<html lang="en">
  <head>
    <meta property="og:type"  content="website" />
    <meta property="og:image" content="http://beestation13.com/static/img/logo.png" />
    <meta property="og:url" content="{{ request.url }}" />
    <meta name="description"  content="{{ cfg.WEBSITE["description"] }}"/>
    <meta property="og:description" content="{{ cfg.WEBSITE["description"] }}" />

    {% block head %}

    {% endblock %}

    <script src="/static/js/dist/jquery-3.7.0.min.js" type="application/javascript"></script>
    <script src="/static/js/dist/date.min.js" type="application/javascript"></script>
    <script src="/static/js/dist/vue2.min.js" type="application/javascript"></script>
    <script src="https://kit.fontawesome.com/c04ca9b4bd.js" crossorigin="anonymous"></script>

    <script>
      window.api_base_url = '{{cfg.WEBSITE["api-base-url"]}}';

      Vue.options.delimiters = ['${', '}'];
    </script>

    <link   rel="stylesheet" href="/static/css/main.css">

    <title>BeeStation - {% block title %}{% endblock %}</title>
    <style>#ac-{% block active %}{% endblock %} {border-bottom: solid var(--bee-yellow) var(--bee-border-thick) !important;}</style>
  </head>


  <body>
  <div id="container">
    <div id="nav">
      <a href="/" id="ac-home" class="nav-logo"><img id="nav-logo-img" src="/static/img/logo.svg" alt="BeeStation"> <span id="nav-logo-text">BeeStation</span></a>
      <div id="nav-spacer"></div>
      <a href = "/forum"   id="ac-forum"   class="nav-item">Forum</a>
      <a href = "/rules"   id="ac-rules"   class="nav-item">Rules</a>
      <a href = "/stats"   id="ac-stats"   class="nav-item">Stats</a>
      <a href = "/uptime"  id="ac-uptime"  class="nav-item">Uptime</a>
      <a href = "/bans"    id="ac-bans"    class="nav-item">Bans</a>
      <a href = "/maps"     id="ac-maps"    class="nav-item">Maps</a>
      <a href = "/library" id="ac-library" class="nav-item">Library</a>
    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>
  <footer>BeeStation website made with &lt;3 by <a href="https://github.com/qwertyquerty" style="color:#cccccc;">qwerty</a></footer>
  </body>
</html>
