{% extends "layout.html" %}
{% block title %}Patreon Link{% endblock %}

{% block head %}
	<meta property="og:title" content="BeeStation - Patreon Link" />
{% endblock %}

{% block content %}
	<h1 style="text-align: center;">Link Patreon Account</h1>

	<div style="text-align: center;">
		{% if request.args.get("success") %}
			<h2 style="color: #11bb11;">Successfully Linked Patreon Account!</h2>
		{% endif %}
		{% if request.args.get("error") %}
			<h2 style="color: #bb1111;">
			{% if request.args.get("error") == "invalidckey" %}
				That ckey has never connected to BeeStation!
			{% else %}
				Unknown Error! Report to qwerty.
			{% endif %}
			</h2>
		{% endif %}
		<form>
			<input class="form-input" name="ckey" type="text" placeholder="Enter ckey..."><br><br>
			<input class="form-submit" type="submit" value="Link Patreon">
		</form>
	</div>

{% endblock %}
