{% extends "layout.html" %}
{% block title %}Stats{% endblock %}
{% block active %}stats{% endblock %}

{% block head %}
	<meta property="og:title" content="BeeStation - Stats" />
	<script src="/static/js/stats.js" type="application/javascript"></script>
{% endblock %}

{% block content %}

	<div style="text-align:center;" class="ban-header">
		<div v-if="(!servers.length) || (!Object.keys(server_stats).length)" class="progress-bar-indeterminate" style="width:50%; margin: 20px auto;">
	  		<div class="progress-bar-indeterminate-value"></div>
		</div>
	</div>

	<div v-cloak v-for="server in servers">
		<div v-if="server.id in server_stats && server.open && !('error' in server_stats[server.id])">
			<hr>

			<h1 style="text-align: center;">${ server.name }</h1>

			<div class="stats">
				<div class="stat">
					<div class="stat-header">Players</div>
					<div class="stat-value">
						${ server_stats[server.id].players.toLocaleString() }
					</div>
				</div>
				<div class="stat">
					<div class="stat-header">Admins</div>
					<div class="stat-value">
						${ server_stats[server.id].admins.toLocaleString() }
					</div>
				</div>
				<div class="stat">
					<div class="stat-header">Game Mode</div>
					<div class="stat-value">
						${ server_stats[server.id].mode || "None" }
					</div>
				</div>
			</div>

			<div class="stats">
				<div class="stat">
					<div class="stat-header">Round ID</div>
					<div class="stat-value">
						${ server_stats[server.id].round_id ? server_stats[server.id].round_id.toFixed() : "None" }
					</div>
				</div>
				<div class="stat">
					<div class="stat-header">Duration</div>
					<div class="stat-value">
						${ new Date(server_stats[server.id].round_duration * 1000).toISOString().substr(11, 8) }
					</div>
				</div>
				<div class="stat">
					<div class="stat-header">Map</div>
					<div class="stat-value">
						${ server_stats[server.id].map_name || "None" }
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>
{% endblock %}
