{% extends "layout.html" %}
{% block title %}Bans{% endblock %}
{% block active %}bans{% endblock %}

{% block head %}
  <meta property="og:title" content="BeeStation - Bans" />
  <script src="/static/js/bans.js" type="application/javascript"></script>
{% endblock %}

{% block content %}

<div style="display:flex;flex-direction:row;justify-content:center;align-items:stretch;">
  <div style="flex-basis:33.33%;"></div>

  <div style="text-align:center;flex-basis:33.33%;">
    <a v-on:click="change_page(-1)" class="button"><i class="fas fa-arrow-left"></i></a>

    <span style="text-align: center;margin:0px 20px; font-size:18px;">
      <span v-cloak>
        page ${ loaded_page || page } of ${ (pages !== null) ? pages : "..." }
      </span>
    </span>

    <a v-on:click="change_page(1)" class="button"><i class="fas fa-arrow-right"></i></a>
  </div>

  <div style="text-align:right;flex-basis:33.33%;">
    <input class="form-input" type="text" placeholder="Search ckey..." @keydown.enter="search_bans(event.target.value)">
  </div>
</div>

<br>

<div v-cloak style="text-align:center;" class="ban-header">
  <span v-if="!bans.length && loaded">
    No Bans Found
  </span>

  <div v-if="!loaded" class="progress-bar-indeterminate" style="width:50%; margin: 20px auto;">
    <div class="progress-bar-indeterminate-value"></div>
  </div>
</div>

<div v-cloak v-if="bans.length" v-for="ban in bans" class="ban">
  <div class="ban-header">${ ban.ckey }</div>
  <div class="ban-reason">${ ban.reason }</div><br>
  <div style="width:100%;">
    <div style="width:295px;display:inline-block;" class="ban-reason"><b class="ban-reason-title">Ban Date:</b> ${ render_dtstring(ban.bantime) }</div>
    <div style="width:315px;display:inline-block;" class="ban-reason"><b class="ban-reason-title">Expire Date:</b> ${ ban.expiration_time ? render_dtstring(ban.expiration_time)  : "Never" }</div>
    <div style="width:150px;display:inline-block;" class="ban-reason"><b class="ban-reason-title">Round:</b> ${ ban.round_id.toFixed() || "Error!" }</div>
    <div style="width:175px;display:inline-block;" class="ban-reason"><b class="ban-reason-title">Server:</b> ${ ban.global_ban ? "All" : ban.server_name }</div>
    <div style="width:250px;display:inline-block;" class="ban-reason"><b class="ban-reason-title">Admin:</b> ${ ban.a_ckey }</div>
  </div>
  <div style="width:100%;" class="ban-reason" style="margin-top:20px;"><b class="ban-reason-title">Role:</b> ${ ban.roles.join(", ") }</div>
</div>

<br>


<div v-if="bans.length" style="text-align:center;">
  <a v-on:click="change_page(-1)" class="button"><i class="fas fa-arrow-left"></i></a>

  <span style="text-align: center;margin:0px 20px; font-size:18px;">
    <span v-cloak>
      page ${ loaded_page || page } of ${ (pages !== null) ? pages : "..." }
    </span>
  </span>

  <a v-on:click="change_page(1)" class="button"><i class="fas fa-arrow-right"></i></a>
</div>

{% endblock %}
