{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block active %}home{% endblock %}

{% block head %}
  <meta property="og:title" content="BeeStation - Home" />
  <script src="/static/js/home.js" type="application/javascript"></script>
{% endblock %}

{% block content %}
  <div class="server-info">
    <h1 class="site-title">BeeStation, For Beginners</h1>
    <p class="text-indent">It appears you have stumbled into the cozy corner of the BeeStation website. It has the rules for the server, a server statistics page, a page to review server bans, a forum, and links to many more places you should visit!</p>

    <p class="text-indent">BeeStation is a Space Station 13 server, hosted by Crossedfall, which was created in March 2018.  We focus on being a newbie friendly community, with LRP (Golden) and RP (Sage) servers. Our codebase is built off of /tg/'s foundations, combining our own unique features with those found on other servers.</p>

    <p class="text-indent">Our server is open source, so feel free to contribute to the code! We also have a Discord server with a great helpful community; a forum for ban appeals, staff applications, suggestions and discussions; as well as an informative Wiki.</p>

    <div class="stats">
      <div class="stat"><div class="stat-header">Total Players</div><div id="stat-total-players" class="stat-value odometer">...</div></div>
      <div class="stat"><div class="stat-header">Total Rounds</div><div id="stat-total-rounds" class="stat-value odometer">...</div></div>
      <div class="stat"><div class="stat-header">Total Connections</div><div id="stat-total-connections" class="stat-value odometer">...</div></div>
    </div>

  <div id="stat-map" style="margin: 0 auto; text-align: center; font-size: var(--bee-text-big);">Help us reach our monthly budget goal with <a class="link" style="display: inline-block; margin: 0 0;" href="{{ cfg.WEBSITE["links"]["patreon"] }}">Patreon</a></div>

    <div class="progress-bg">
      <div class="progress-bar">
          <h3 class="progress-raised"></h3>
        </div>
    </div>

  </div>

  <div class="links">
    <div class="links-header">Servers</div>
    {% for server in cfg.SERVERS %}
      {% if server["open"] %}
        <a class="link" href="/join/{{ server["id"] }}">{{ server["name"] }}</a>
      {% else %}
        <s><a class="link" style="color: var(--bee-gray);">{{ server["name"] }}</a></s>
      {% endif %}
    {% endfor %}
  </div>

  <div class="links" style="margin-top: 25px;">
    <div class="links-header">Useful Links</div>
    <a class="link" href="/rules">BeeStation Rules</a>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["wiki"] }}">BeeStation Wiki</a>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["discord"] }}">Discord Server</a>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["github"] }}">Github Repository</a>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["starter-guide"] }}">Starter Guide</a>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["subreddit"] }}">SS13 Subreddit</a>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["patreon"] }}">Patreon</a>
    <a target="_blank" class="link" href="/linkpatreon">Link Patreon</a>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["ss13-website"] }}">What is SS13?</a>
  </div>
{% endblock %}
