{% extends "layout.html" %}
{% block title %}Leaderboard{% endblock %}
{% block active %}leaderboard{% endblock %}

{% block head %}
  <meta property="og:title" content="BeeStation - Leaderboard" />
{% endblock %}

{% block content %}

  <div class="post-title"><a href="/leaderboard">Leaderboard</a></div>
  {% for player in leaderboard %}
    <div class="small-post">
      <div class="small-post-title">{{ loop.index }}. {{ player.ckey }}</div><div class="small-post-author">{{ player.metacoins }} <i class="fas fa-coins"></i></div>
    </div>
  {% endfor %}

{% endblock %}
