@font-face {
  font-family: 'aldotheapache';
  src:  url('../font/aldotheapache.ttf') format('truetype');
}


:root {
  --bee-yellow:       #ffbf00;
  --bee-dark-yellow:  #997900;
	--bee-red:          #ff0000;
	--bee-white:        #ffffff;
	--bee-black:        #000000;
	--bee-gray:         #aaaaaa;
	--bee-dark-gray-1:  #333333;
	--bee-dark-gray-2:  #222222;
	--bee-dark-gray-3:  #1a1a1a;
	--bee-dark-gray-4:  #100f0e;

	--bee-border-thick: 4px;
	--bee-border-thin:  1px;

	--bee-shadow-thick: 4px;
	--bee-shadow-thin:  2px;

	--bee-text-tiny:   12px;
	--bee-text-body:   16px;
	--bee-text-normal: 20px;
	--bee-text-medium: 25px;
	--bee-text-big:    30px;
	--bee-text-huge:   40px;
	--bee-text-mega:   60px;

	--bee-padding-thick:     30px;
	--bee-padding-medium:    20px;
	--bee-padding-normal:    8px;
	--bee-padding-thin:      5px;
	--bee-padding-very-thin: 2px;
	--bee-padding-none:      0px;
}

[v-cloak] {
	display: none !important;
}

.bold        {font-weight: bold;}

.text-tiny   {font-size: var(--bee-text-tiny);}
.text-body   {font-size: var(--bee-text-body);}
.text-normal {font-size: var(--bee-text-normal);}
.text-big    {font-size: var(--bee-text-big);}
.text-huge   {font-size: var(--bee-text-huge);}
.text-mega   {font-size: var(--bee-text-mega);}

.inline-block {display: inline-block;}

.bottom-border {border-bottom: solid var(--bee-yellow) var(--bee-border-thick);}

.shadow {box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thick) var(--bee-dark-gray-4);}
.shadow-thin {box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thin) var(--bee-dark-gray-4);}


html {
  height:100%;
}

body {
  background-color: var(--bee-dark-gray-1);
  margin: 0px;
  color: var(--bee-white);
  font-family: Arial;
  box-sizing: border-box;
  overflow-x: auto;
  height:100%;
}

#container {
  display: inline-block;
  box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thick) var(--bee-dark-gray-3);
  background-color: var(--bee-dark-gray-2);
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

#content {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  display: inline-block;
  padding: var(--bee-padding-thick);
  box-sizing: border-box;
  margin-top: 45px;
}

#nav {
  position: fixed;
  display: inline-block;
  height: 45px;
  width: 100%;
  display: flex;
  background-color: var(--bee-black);
  font-family: 'aldotheapache', Arial;
  font-size: var(--bee-text-big);
  justify-content: space-between;
  letter-spacing: 1px;
  box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thick) var(--bee-dark-gray-4);
}

.nav-item {
  color: var(--bee-white);
  transition: border 0.2s;
  border-bottom: solid var(--bee-border-thick);
	border-bottom-color: var(--bee-black);
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  padding: var(--bee-padding-normal) var(--bee-padding-thin);
  min-width: 100px;
  max-width: 100px;
  user-select: none;
  font-size: var(--bee-text-big);
  text-decoration: none;
  line-height: 30px;
}

.nav-item:hover, .nav-item:focus {
  border-bottom-color: var(--bee-yellow);
  outline: none;
}

.nav-logo {
  color: var(--bee-white);
  transition: border 0.2s;
  border-bottom: solid var(--bee-black) var(--bee-border-thick);
  cursor: pointer;
  flex-grow: 1;
  padding: 0px var(--bee-padding-normal);
  min-width: 192px;
  max-width: 192px;
  user-select: none;
  text-decoration: none;
}

.nav-logo:hover, .nav-logo:focus {
  border-bottom: solid var(--bee-yellow) var(--bee-border-thick);
  outline: none;
}

#nav-logo-img {
  top: 3.5px;
  position: relative;
  height: 36px;
}

#nav-logo-text {
  bottom: 4px;
  position: relative;
  height: 40px;
}

#nav-spacer {
  flex-grow: 1;
}

footer {
  text-align: center;
  margin-top: var(--bee-padding-medium);
	margin-bottom: var(--bee-padding-medium);
  color: var(--bee-gray);
  font-size: var(--bee-text-tiny);
}

.button {
  cursor: pointer;
  padding: 10px 10px 5px 10px;
  color: var(--bee-white);
  font-size: var(--bee-text-normal);
  font-weight: bold;
  transition: border-bottom 0.2s, color 0.2s;
  border-bottom: solid var(--bee-dark-gray-3) var(--bee-border-thick);
  background-color: var(--bee-dark-gray-3);
  user-select: none;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  border-bottom: solid var(--bee-yellow) var(--bee-border-thick);
}

.book-content {
  color: var(--bee-white) !important;
  font-size: var(--bee-text-normal);
}

::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-track {background: var(--bee-dark-gray-1);}
::-webkit-scrollbar-thumb {background: var(--bee-dark-gray-4);}
::-webkit-scrollbar-thumb:hover {background: var(--bee-dark-gray-3);}


.progress-bg {
	height: 40px;
  text-align: center;
  background-color: var(--bee-black);
  width: 80%;
  margin: auto auto;
	box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thick) var(--bee-dark-gray-4);
}

.progress-bar {
	height: 35px;
	float: left;
  transition: width 2s;
  max-width: 100%;
  border-bottom: solid var(--bee-yellow) var(--bee-border-thick);
  width: 0px;
}

.progress-bg .progress-raised {
	font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 600;
	line-height: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline;
  color: var(--bee-white);
	margin: 14px 25px 0 50px;
	padding: 0 40px 0 0;
  animation: fadein 4s;
  white-space: nowrap;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.site-title {
  user-select: none;
  text-align: center;
  font-family: 'aldotheapache', Arial;
  font-size: var(--bee-text-mega);
  line-height: var(--bee-text-mega);
	letter-spacing: 2px;
  color: var(--bee-yellow);
  animation: fadein 0.3s;
}

.server-info {
  padding: var(--bee-padding-thick);
  float: left;
  display: inline-block;
  width: calc(100% - 405px);
  background-color: var(--bee-dark-gray-3);
  box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thick) var(--bee-dark-gray-4);
  overflow: hidden;
  font-size: var(--bee-text-normal);
}

.links {
  float: right;
  display: inline-block;
  width: 320px;
  background-color: var(--bee-dark-gray-3);
  box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thick) var(--bee-dark-gray-4);
}

.link:nth-last-child(1) {
  border-bottom: solid var(--bee-yellow) 0px !important;
}

.links-header {
  box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thick) var(--bee-dark-gray-4);
  background-color: var(--bee-black);
  font-size: var(--bee-text-big);
  width: 100%;
  display: inline-block;
  text-align: center;
  font-family: 'aldotheapache', Arial;
	padding: var(--bee-padding-normal) 0;
}

.link {
  text-align: center;
  display: block;
  color: var(--bee-yellow);
  font-family: Arial;
  font-size: var(--bee-text-big);
  text-decoration: none;
  border-bottom: solid var(--bee-yellow) 1px;
  padding: var(--bee-padding-normal) 0px;
  margin: 0px var(--bee-padding-medium);
  font-weight: bold;
  transition: color 0.1s;
}

.link:hover, .link:focus {
  color: var(--bee-dark-yellow);
  outline: none;
}

.text-indent {
  text-indent: 40px;
}


.rule {
  border-bottom: solid var(--bee-yellow) var(--bee-border-thick);
  display: block;
  padding: var(--bee-padding-medium);
  background-color: var(--bee-dark-gray-3);
  margin-bottom: var(--bee-padding-medium);
  overflow: hidden;
  box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thick) var(--bee-dark-gray-4);
}

.rule-title {
  font-size: var(--bee-text-huge);
  font-weight: bold;
  line-height: 30px;
  border-bottom: solid 3px var(--bee-white);
}

.rule-desc {
  font-size: var(--bee-text-normal);
}


.form-input {
  color: var(--bee-white);
  border-width: 0px;
  border-bottom: solid var(--bee-yellow) var(--bee-border-thick);
  border-style: solid;
  outline: none;
  background-color: var(--bee-dark-gray-4);
  padding: var(--bee-padding-normal);
  font-size: var(--bee-text-normal);
  width: 400px;
  font-weight: bold;
  box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thick) var(--bee-dark-gray-3);
}

.form {
  text-align: center;
}

.form-errors {
  margin-bottom: var(--bee-padding-thick);
  display: inline-block;
}

.form-error {
  color: var(--bee-red);
  font-size: var(--bee-text-normal);
  padding-top: var(--bee-padding-normal);
  width: 400px;
  text-align: left;
}


.form-submit {
  cursor: pointer;
  display: table-cell;
  padding: var(--bee-padding-normal);
  border: solid var(--bee-yellow) var(--bee-border-thick);
  color: var(--bee-white);
  font-size: var(--bee-text-normal);
  background-color: var(--bee-dark-gray-4);
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s;
  user-select: none;
  text-decoration: none;
  width: 400px;
  box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thick) var(--bee-dark-gray-3);
}

.form-submit:hover, .form-submit:focus {
  background-color: var(--bee-yellow);
  color: var(--bee-black);
  outline: none;
}


.form-submit-underline {
  cursor: pointer;
  padding: var(--bee-padding-normal);
	border: none;
  border-bottom: solid var(--bee-dark-gray-3) var(--bee-border-thick);
  color: var(--bee-white);
  font-size: var(--bee-text-normal);
  background-color: var(--bee-dark-gray-3);
  font-weight: bold;
  transition: border-color 0.2s, color 0.2s;
  user-select: none;
  text-decoration: none;
  width: 400px;
  box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thick) var(--bee-dark-gray-3);
}

.form-submit-underline:hover, .form-submit-underline:focus {
  border-color: var(--bee-yellow);
  outline: none;
}


.small-post {
  display: block;
  background-color: var(--bee-dark-gray-3);
  padding: var(--bee-padding-normal);
  font-family: Arial;
  border-bottom: solid var(--bee-dark-gray-3) var(--bee-border-thick);
  margin-top: var(--bee-padding-medium);
  margin-bottom: var(--bee-padding-medium);
  cursor: pointer;
  transition: border 0.2s;
  box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thick) var(--bee-dark-gray-4);
}


.small-post:hover {
  border-bottom: solid var(--bee-yellow) var(--bee-border-thick);
}


.small-post-title {
  font-family: Arial;
  font-size: var(--bee-text-big);
  display: inline-block;
  margin-bottom: var(--bee-padding-thin);
  font-weight: bold;
}

.unread {
  color: var(--bee-yellow) !important;
}

.small-post-author {
  font-family: Arial;
  font-size: var(--bee-text-medium);
  display: inline-block;
  float: right;
}

.small-post-stats {
  margin-top: var(--bee-padding-normal);
  font-size: var(--bee-text-body);
}

.small-post-stat {
  padding: 0px var(--bee-padding-normal);
  display: inline-block;
}


.post-title {
  font-family: Arial;
  font-size: var(--bee-text-big);
  margin-bottom: var(--bee-padding-thin);
  font-weight: bold;
  display: inline-block;
  padding-left: var(--bee-padding-medium);
  padding-top: var(--bee-padding-normal);
}

a {
  color: var(--bee-yellow);
}

.ban {
  display: block;
  background-color: var(--bee-dark-gray-3);
  padding: var(--bee-padding-normal);
  font-family: Arial;
  border-bottom: solid var(--bee-yellow) var(--bee-border-thick);
  margin-bottom: var(--bee-padding-medium);
  box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thick) var(--bee-dark-gray-4);
}

.ban-header {
  font-weight: bold;
  font-size: var(--bee-text-big);
  margin-bottom: var(--bee-padding-medium);
  letter-spacing: 1px;
}

.ban-reason-title {
  font-size: var(--bee-text-normal);
  font-weight: bold;
  color: var(--bee-yellow);
}

.ban-reason {
  font-size: var(--bee-text-normal);
  margin-top: var(--bee-padding-normal);
}

.stat {
  display: inline-block;
  /*background-color: var(--bee-dark-gray-3);*/
  height: 100px;
  width: 280px;
  padding: var(--bee-padding-normal);
  text-align: center;
  font-family: Arial;
  /*box-shadow: 0 0 var(--bee-shadow-thick) var(--bee-shadow-thick) var(--bee-dark-gray-4);*/
  min-width: 280px;
  text-transform:capitalize;
}


hr {
  border-style: solid;
  border-width: 2px;
  width: 75%;
}

.stat-header {
  line-height: 60px;
  font-size: var(--bee-text-big);
  font-family: 'aldotheapache', Arial;
  letter-spacing: 2px;
  font-weight: bold;
  user-select: none;
  color: var(--bee-yellow);
}

.stat-value {
  font-size: var(--bee-text-big);
  font-family: 'aldotheapache', Arial;
}


.stats {
  margin-top: var(--bee-padding-thick);
  margin-bottom: var(--bee-padding-thick);
  display: flex;
  justify-content: space-evenly;
}


.anim-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, var(--bee-black) 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

hr {
  border-style: solid;
  border-width: 1px;
  width: 75%;
  border-color: var(--bee-dark-gray-1);
}

.progress-bar-indeterminate {
  height: 5px;
  background-color: var(--bee-dark-gray-3);
  width: 100%;
  overflow: hidden;
}

.progress-bar-indeterminate-value {
  width: 100%;
  height: 100%;
  background-color: var(--bee-yellow);
  animation: indeterminateAnimation 0.5s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform:  translateX(0) scaleX(0);
  }
  40% {
    transform:  translateX(0) scaleX(0.4);
  }
  100% {
    transform:  translateX(100%) scaleX(0.5);
  }
}
