{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block title %}Leaderboard{% endblock %}
{% block active %}leaderboard{% endblock %}
{% block head %}
<meta property="og:title" content="BeeStation - Leaderboard" />
<meta property="og:description" content="BeeStation is a newbie friendly Space Station 13 server. The server was created in march 2018. We like to put a fun touch to the rounds to make a better experience." />
{% endblock %}

{% block content %}


<div class="post-title"><a href="/leaderboard">Leaderboard</a></div>
{% for player in leaderboard %}
  <div class="small-post">
      {% if sort == "beecoins" %}
        <div class="small-post-title">{{loop.index}}. {{player["ckey"]}}</div><div class="small-post-author">{{player["metacoins"]}} <i class="fas fa-coins"></i>
      {% elif sort == "playtime" %}
        <div class="small-post-title">{{loop.index}}. {{player["ckey"]}}</div><div class="small-post-author">{{player["sum(minutes)"]//60}} hours
      {% elif sort == "deaths" %}
        <div class="small-post-title">{{loop.index}}. {{player["byondkey"]}}</div><div class="small-post-author">{{player["count(*)"]}} deaths
      {% elif sort == "connections" %}
        <div class="small-post-title">{{loop.index}}. {{player["ckey"]}}</div><div class="small-post-author">{{player["count(*)"]}} connections
      {% endif %}
    </div>
  </div>
{% endfor %}


{% endblock %}
