{% extends "layout.html" %}
{% block title %}Maps{% endblock %}
{% block active %}maps{% endblock %}
{% block head %}
<meta property="og:title" content="BeeStation - Maps" />
<meta property="og:description" content="BeeStation is a newbie friendly Space Station 13 server. The server was created in march 2018. We like to put a fun touch to the rounds to make a better experience." />
{% endblock %}

{% block content %}
<div style="display:flex;flex-direction:row wrap;flex-wrap:wrap;">
  {% for map in cfg.MAPS %}
  <div class="small-post" onclick="location.href = '/map/{{map.id}}'" style="height:350px;width:300px;margin:20px;">
    <center>
      <div class="small-post-title" style="font-size: 40px;">{{map.name}}</div><br><br>
      <img style="background-color:#000;width:270px;box-shadow: 0 0 5px 5px #0a0a0a;" src="/static/img/maps/{{map.id}}_small.png">
    </center>
  </div>
  {% endfor %}
</div>
{% endblock %}
